.column-about {
    float: left;
    width: 40%;
    padding: 10px;
    height: 340px;
    background-color: black;
    opacity: 70%;
    margin: 1%;
    margin-left: 5%;
    color: white;
}
.column-about2 {
    float: left;
    width: 70%;
    padding: 10px;
    height: 400px;
    background-color: black;
    opacity: 70%;
    margin: 1%;
    margin-left: 5%;
    color: white;
}
.info-content{
    float: right;
    width: 53%;
    margin-top: -48%;
}

#me {
    width: 37%;
    margin-top: 1%;
}

.info-content h1 {
    font-size: large;
}

.info-content h2 {
    font-size: medium;
}

.info-content-spaceX {
        float: right;
        width: 44%;
        margin-top: -31%;
}

#spaceX {
    width: 54%;
    margin-top: 1%;
    
}